parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\TreeBuilder\\:\\:root\\(\\)\\.$#"
			count: 1
			path: DependencyInjection/Configuration.php

		-
			message: "#^Class GraphAware\\\\Neo4j\\\\OGM\\\\EntityManagerInterface not found\\.$#"
			count: 1
			path: DependencyInjection/Neo4jExtension.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\DependencyInjection\\\\DefinitionDecorator not found\\.$#"
			count: 2
			path: DependencyInjection/Neo4jExtension.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(array &\\$config\\)\\: Unexpected token \"&\", expected variable at offset 105$#"
			count: 1
			path: DependencyInjection/Neo4jExtension.php

		-
			message: "#^PHPDoc tag @param for parameter \\$names with type string is incompatible with native type array\\.$#"
			count: 1
			path: Factory/ClientFactory.php

