<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/bin/.phpunit/phpunit-8.5-0/phpunit.xsd">
    <testsuites>
        <testsuite name="Unit tests">
            <directory suffix="Test.php">./Tests/Unit</directory>
        </testsuite>
        <testsuite name="Functional tests">
            <directory suffix="Test.php">./Tests/Functional</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="SYMFONY_PHPUNIT_VERSION" value="8.5" />
        <server name="KERNEL_DIR" value="./Tests/Resources/app" />
    </php>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
