<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <testsuites>
    <testsuite name="Functional tests">
      <directory suffix="Test.php">./tests/Functional</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="KERNEL_CLASS" value="Neo4j\Neo4jBundle\Tests\App\TestKernel"/>
  </php>
</phpunit>
