name: Static Analysis
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  php-cs-fixer:
    name: "Lint & Analyse"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: php-actions/composer@v6
        with:
          progress: yes
          php_version: 8.3
          version: 2
      - name: "PHP-CS-Fixer"
        run: composer check-cs
      - name: "PSalm"
        run: composer psalm
